/* Fonts */
@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: url( './fonts/OpenSans-Regular.ttf' ) format( 'truetype' );
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  src: url( './fonts/OpenSans-Bold.ttf' ) format( 'truetype' );
}

/* Text content styles */
h1,
h2,
h3,
h4,
h5,
p {
  color: #000716;
  font-family: 'Open Sans', 'Helvetica Neue', Roboto, Arial, sans-serif;
  margin: 0;      
  padding: 4px 0 4px 0;  
  text-rendering: optimizeLegibility;  
}

h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;          
}

h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin: 4px 0 0 0;
}

h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;    
}

p a {
  color: #0972d3;
  text-decoration: underline;
}

p a:hover {
  color: #033160;
}

p code {
  color: #000716;
  font-family: Monaco, Menlo, Consolas, 'Courier Prime', Courier, 'Courier New', monospace;
  font-size: 12px;
  line-height: 16px;
}

p small {
  color: #5f6b7a;
  font-size: 12px;
  line-height: 16px;
  padding: 0;
}

p strong {
  font-weight: 700;
}

ol,
ul {
  margin: 8px 0 8px 0;
  padding: 0 0 0 20px;
}

ol {
  padding: 4px 0 0 20px;
}

ol li,
ul li {
  color: #000716;
  font-family: 'Open Sans', 'Helvetica Neue', Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding: 4px 0 0 0;
  text-rendering: optimizeLegibility;          
}

ol li:first-of-type,
ul li:first-of-type {
  padding: 0;
}

/* Popover */
div.popover {
  background-color: #ffffff;
  border: solid 2px #9ba7b6;
  border-radius: 8px;
  box-shadow: rgba( 0, 7, 22, 0.10 ) 0px 4px 20px 1px;
  display: none;
  position: absolute;
}

/* Slotted */
rf-alert rf-button {
  align-self: flex-start;
  padding-bottom: 4px;
  --button-active-background-color: #0007161a;
  --button-border-color: #414d5c;
  --button-color: #414d5c;
  --button-hover-background-color: #0007160d;
  --button-hover-color: #414d5c;
}

rf-alert rf-button[variant=primary] {
  --button-primary-background-color: #414d5c;
  --button-primary-border-color: #414d5c;
  --button-primary-color: #ffffff;
  --button-primary-hover-background-color: #000716;
  --button-primary-hover-border-color: #000716;          
}        

rf-avatar {
  --icon-color: #ffffff;
}

rf-avatar rf-icon {
  --icon-filter: 
    brightness( 0 ) 
    saturate( 100% )            
    invert( 100% ) 
    sepia( 0% ) 
    saturate( 2273% ) 
    hue-rotate( 241deg ) 
    brightness( 117% ) 
    contrast( 100% );  
}

rf-avatar:not( :empty )::part( ai ),
rf-avatar:not( :empty )::part( profile ) {
  display: none;
}

rf-breadcrumb-group rf-breadcrumb:last-of-type::part( href ),
rf-breadcrumb-group rf-breadcrumb:last-of-type::part( icon ) {
  display: none;
}

rf-breadcrumb-group rf-breadcrumb:not( :last-of-type )::part( text ) {
  display: none;
}

rf-button:has( [slot=icon] ) {
  margin: 0 8px 0 -4px;
  --icon-color: red;
  --icon-cursor: pointer;  
  --icon-filter: 
    brightness( 0 ) 
    saturate( 100% )          
    invert( 44% ) 
    sepia( 86% ) 
    saturate( 6077% ) 
    hue-rotate( 195deg ) 
    brightness( 93% ) 
    contrast( 93% );
}

rf-button:hover:has( [slot=icon] ) {
  --icon-color: green;
  --icon-filter: 
    brightness( 0 ) 
    saturate( 100% )            
    invert( 13% ) 
    sepia( 33% ) 
    saturate( 4885% ) 
    hue-rotate( 197deg ) 
    brightness( 94% ) 
    contrast( 98% );
}

rf-button[disabled] rf-icon {
  --icon-cursor: not-allowed;
  --icon-filter:  
    brightness( 0 ) 
    saturate( 100% )              
    invert( 70% ) 
    sepia( 10% ) 
    saturate( 426% ) 
    hue-rotate( 173deg ) 
    brightness( 93% ) 
    contrast( 90% );  
}

rf-button[loading] rf-icon {
  display: none;
}

rf-button[variant=primary]:not( [disabled] ) rf-icon {
  --icon-filter: 
    brightness( 0 ) 
    saturate( 100% )                
    invert( 100% ) 
    sepia( 4% ) 
    saturate( 257% ) 
    hue-rotate( 233deg ) 
    brightness( 120% ) 
    contrast( 100% );  
}

rf-button[variant=link]:hover rf-icon {
  --icon-filter: 
    brightness( 0 ) 
    saturate( 100% )            
    invert( 11% ) 
    sepia( 68% ) 
    saturate( 3102% ) 
    hue-rotate( 203deg ) 
    brightness( 99% ) 
    contrast( 105% );
}

rf-button[variant=inline-link] rf-icon {
  margin: 0 8px 0 0;
}

rf-button[variant=icon] rf-icon {
  margin: 0;
  --icon-filter: 
    brightness( 0 ) 
    saturate( 100% )  
    invert( 23% ) 
    sepia( 3% ) 
    saturate( 3050% ) 
    hue-rotate( 185deg ) 
    brightness( 94% ) 
    contrast( 81% );               
}

rf-button[variant=icon]:hover rf-icon {
  --icon-filter: 
    brightness( 0 ) 
    saturate( 100% )  
    invert( 4% ) 
    sepia( 4% ) 
    saturate( 6959% ) 
    hue-rotate( 173deg ) 
    brightness( 97% ) 
    contrast( 91% );              
}

rf-button[disabled][variant=icon] rf-icon {
  --icon-cursor: not-allowed;
  --icon-filter:  
    brightness( 0 ) 
    saturate( 100% )              
    invert( 70% ) 
    sepia( 10% ) 
    saturate( 426% ) 
    hue-rotate( 173deg ) 
    brightness( 93% ) 
    contrast( 90% );  
}

rf-button[variant=inline-icon] rf-icon {
  margin: 0;
}

rf-button[icon-align=right] rf-icon {
  margin: 0 -4px 0 8px;
}

rf-chat-bubble:has( [slot=actions] )::part( actions ) {
  display: flex;
}

rf-checkbox p[slot=description] {
  color: #656871;
  font-size: 12px;
  line-height: 16px;
  padding: 0 0 4px 24px;
}

rf-checkbox[disabled] p[slot=description] {
  color: #9ba7b6;
}

rf-flashbar p {
  color: #ffffff;
  line-height: 20px;
  margin: 2px 0 2px 0;          
  padding: 4px;      
}

rf-flashbar p[slot=header] {
  font-weight: 700;
  margin: 2px 0 0 0;
  padding: 4px 0 0 0;
}

rf-flashbar p[slot=header] ~p:not( [slot=header] ) {
  margin: 0 0 2px 0;
  padding: 0 0 4px 0;
}

rf-flashbar rf-link {
  --link-color: #ffffff;
  --link-font-weight: 400;
  --link-hover-color: #ffffff;
  --link-text-decoration: underline;
  --link-hover-text-decoration: underline;  
}

rf-flashbar rf-button[slot=action] {
  margin: 0 0 4px 0;
  --button-border-color: #ffffff;
  --button-color: #ffffff;
  --button-hover-background-color: #00071626;
  --button-hover-border-color: #ffffff;
  --button-hover-color: #ffffff;  
}

rf-flashbar rf-message[type=warning] p {
  color: #000716;
}

rf-segmented-control rf-segment {
  border-left: solid 1px #414d5c;
  border-top: solid 2px #414d5c;          
  border-bottom: solid 2px #414d5c;          
  border-right: solid 1px #414d5c;    
}

rf-segmented-control rf-segment:first-of-type {
  border-bottom-left-radius: 20px;          
  border-top-left-radius: 20px;
  border-left: solid 2px #414d5c;
}

rf-segmented-control rf-segment:last-of-type {
  border-bottom-right-radius: 20px;          
  border-top-right-radius: 20px;
  border-left: solid 1px #414d5c;          
  border-right: solid 2px #414d5c;          
}

/*
div.select {
  background-color: #ffffff;
  border: solid 2px #7d8998;
  border-radius: 8px;
  display: none;
  position: absolute;
}

div.select ul {
  box-sizing: border-box;
  cursor: pointer;
  list-style-type: none;  
  margin: 0;
  padding: 0;
}

div.select rf-select-option {
  border-bottom: solid 1px #b5beca;
}

div.select rf-select-option:last-of-type {
  border-bottom: none;
}
*/