@import url( './styles/border-radius.css' );
@import url( './styles/color/light.css' );
@import url( './styles/spacing.css' );
@import url( './styles/typography.css' );

@font-face {
  font-family: 'Amazon Ember';
  font-weight: 300;
  src: url( './fonts/AmazonEmber_Lt.ttf' ) format( 'truetype' );
}

@font-face {
  font-family: 'Amazon Ember';
  font-weight: 400;
  src: url( './fonts/AmazonEmber_Rg.ttf' ) format( 'truetype' );
}

@font-face {
  font-family: 'Amazon Ember';
  font-weight: 700;
  src: url( './fonts/AmazonEmber_Bd.ttf' ) format( 'truetype' );
}

@font-face {
  font-family: 'Amazon Ember';
  font-weight: 900;
  src: url( './fonts/AmazonEmber_He.ttf' ) format( 'truetype' );
}

:root {
  --shadow-container:     
    0 0 1px 1px #e9ebed,
    0 1px 8px 2px #0007161f;  
  --shadow-container-active: 
    0px 1px 1px 1px #e9ebed, 
    0px 6px 36px #0007161a;

  --color-primary: #000716;
  --color-primary-disabled: #e9ebed;
  --color-primary-hover: #033160;
  --color-error: #d91515;
  --color-inactive: #5f6b7a;
  --color-link: #0972d3;  
  --color-inverted: #ffffff;    
  --color-secondary: #414d5c;
  --color-secondary-disabled: #9ba7b6;  
  --color-secondary-hover: #f2f8fd;  
  --color-success: #037f0c;
  --color-warning: #8d6605;

  /* Convert black to color via filter */
  /* https://codepen.io/sosuke/pen/Pjoqqp */  
  --filter-color-primary:
    brightness( 0 ) 
    saturate( 100% )          
    invert( 4% ) 
    sepia( 24% ) 
    saturate( 4129% ) 
    hue-rotate( 186deg ) 
    brightness( 102% ) 
    contrast( 107% );
  --filter-color-primary-disabled:
    brightness( 0 ) 
    saturate( 100% )          
    invert( 100% ) 
    sepia( 1% ) 
    saturate( 3425% ) 
    hue-rotate( 176deg ) 
    brightness( 99% ) 
    contrast( 87% );
  --filter-color-primary-hover:
    brightness( 0 ) 
    saturate( 100% )          
    invert( 17% ) 
    sepia( 57% ) 
    saturate( 1418% ) 
    hue-rotate( 183deg ) 
    brightness( 90% ) 
    contrast( 107% );
  --filter-color-error:
    brightness( 0 ) 
    saturate( 100% )            
    invert( 14% ) 
    sepia( 98% ) 
    saturate( 3166% ) 
    hue-rotate( 350deg ) 
    brightness( 107% ) 
    contrast( 105% );
  --filter-color-inactive:
    brightness( 0 ) 
    saturate( 100% )              
    invert( 46% ) 
    sepia( 2% ) 
    saturate( 3672% ) 
    hue-rotate( 174deg ) 
    brightness( 87% ) 
    contrast( 91% );
  --filter-color-link:
    brightness( 0 ) 
    saturate( 100% )                
    invert( 26% ) 
    sepia( 98% ) 
    saturate( 3640% ) 
    hue-rotate( 196deg ) 
    brightness( 97% ) 
    contrast( 93% );  
  --filter-color-inverted:
    brightness( 0 ) 
    saturate( 100% )                  
    invert( 100% ) 
    sepia( 2% ) 
    saturate( 0% ) 
    hue-rotate( 173deg ) 
    brightness( 103% ) 
    contrast( 101% );
  --filter-color-secondary:
    brightness( 0 ) 
    saturate( 100% )                    
    invert( 25% ) 
    sepia( 43% ) 
    saturate( 260% ) 
    hue-rotate( 173deg ) 
    brightness( 98% ) 
    contrast( 89% );
  --filter-color-secondary-disabled:
    brightness( 0 ) 
    saturate( 100% )                      
    invert( 74% ) 
    sepia( 4% ) 
    saturate( 1016% ) 
    hue-rotate( 173deg ) 
    brightness( 90% ) 
    contrast( 85% );
  --filter-color-secondary-hover:
    brightness( 0 ) 
    saturate( 100% )                        
    invert( 88% ) 
    sepia( 40% ) 
    saturate( 36% ) 
    hue-rotate( 181deg ) 
    brightness( 103% ) 
    contrast( 99% );
  --filter-color-success:
    brightness( 0 ) 
    saturate( 100% )                          
    invert( 29% ) 
    sepia( 72% ) 
    saturate( 1725% ) 
    hue-rotate( 103deg ) 
    brightness( 91% ) 
    contrast( 98% );
  --filter-color-warning:
    brightness( 0 ) 
    saturate( 100% )                            
    invert( 34% ) 
    sepia( 88% ) 
    saturate( 1021% ) 
    hue-rotate( 23deg ) 
    brightness( 90% ) 
    contrast( 96% );
}

h1,
h2,
h3,
h4,
h5,
p {
  color: var( --color-primary );
  font-family: var( --font-family-base );
  margin: 0;      
  padding: 4px 0 4px 0;  
  text-rendering: optimizeLegibility;  
}

h1 {
  font-size: var( --font-size-heading-xl );
  font-weight: var( --font-weight-heading-xl );
  line-height: var( --line-height-heading-xl );
}

h2 {
  font-size: var( --font-size-heading-l );
  font-weight: var( --font-weight-heading-l );
  line-height: var( --line-height-heading-l );
}

h3 {
  font-size: var( --font-size-heading-m );
  font-weight: var( --font-weight-heading-m );
  line-height: var( --line-height-heading-m );
}

h4 {
  font-size: var( --font-size-heading-s );
  font-weight: var( --font-weight-heading-s );
  line-height: var( --line-height-heading-s );
  margin: 4px 0 0 0;
}

h5 {
  font-size: var( --font-size-heading-xs );
  font-weight: var( --font-weight-heading-xs );
  line-height: var( --line-height-heading-xs );
}

p {
  font-size: var( --font-size-body-m );
  font-weight: 400;
  line-height: var( --line-height-body-m );    
}

p a {
  color: var( --color-link );
  text-decoration: underline;
}

p a:hover {
  color: var( --color-primary-hover );
}

p code {
  color: var( --color-primary );
  font-family: var( --font-family-monospace );
  font-size: var( --font-size-body-s );
  line-height: var( --line-height-body-s );
}

p small {
  color: var( --color-inactive );
  font-size: var( --font-size-body-s );
  line-height: var( --line-height-body-s );
  padding: 0;
}

p strong {
  font-weight: var( --font-weight-heading-m );
}

ol,
ul {
  margin: 8px 0 8px 0;
  padding: 0 0 0 20px;
}

ol {
  padding: 4px 0 0 20px;
}

ol li,
ul li {
  color: var( --color-primary );
  font-family: var( --font-family-base );
  font-size: var( --font-size-body-m );
  font-weight: 400;
  line-height: var( --line-height-body-m );
  margin: 0;
  padding: 4px 0 0 0;
  text-rendering: optimizeLegibility;
}

ol li:first-of-type,
ul li:first-of-type {
  padding: 0;
}
