:root {
  --color-charts-red-300: #ea7158;
  --color-charts-red-400: #dc5032;
  --color-charts-red-500: #d13313;
  --color-charts-red-600: #ba2e0f;
  --color-charts-red-700: #a82a0c;
  --color-charts-red-800: #972709;
  --color-charts-red-900: #892407;
  --color-charts-red-1000: #7d2105;
  --color-charts-red-1100: #721e03;
  --color-charts-red-1200: #671c00;
  --color-charts-orange-300: #e07941;
  --color-charts-orange-400: #cc5f21;
  --color-charts-orange-500: #bc4d01;
  --color-charts-orange-600: #a84401;
  --color-charts-orange-700: #983c02;
  --color-charts-orange-800: #8a3603;
  --color-charts-orange-900: #7e3103;
  --color-charts-orange-1000: #732c02;
  --color-charts-orange-1100: #692801;
  --color-charts-orange-1200: #602400;
  --color-charts-yellow-300: #b2911c;
  --color-charts-yellow-400: #9c7b0b;
  --color-charts-yellow-500: #8a6b05;
  --color-charts-yellow-600: #7b5f04;
  --color-charts-yellow-700: #6f5504;
  --color-charts-yellow-800: #654d03;
  --color-charts-yellow-900: #5d4503;
  --color-charts-yellow-1000: #553f03;
  --color-charts-yellow-1100: #4d3901;
  --color-charts-yellow-1200: #483300;
  --color-charts-green-300: #67a353;
  --color-charts-green-400: #41902c;
  --color-charts-green-500: #1f8104;
  --color-charts-green-600: #1a7302;
  --color-charts-green-700: #176702;
  --color-charts-green-800: #145d02;
  --color-charts-green-900: #125502;
  --color-charts-green-1000: #104d01;
  --color-charts-green-1100: #0f4601;
  --color-charts-green-1200: #0d4000;
  --color-charts-teal-300: #2ea597;
  --color-charts-teal-400: #1c8e81;
  --color-charts-teal-500: #0d7d70;
  --color-charts-teal-600: #096f64;
  --color-charts-teal-700: #06645a;
  --color-charts-teal-800: #045b52;
  --color-charts-teal-900: #03524a;
  --color-charts-teal-1000: #014b44;
  --color-charts-teal-1100: #01443e;
  --color-charts-teal-1200: #003e38;
  --color-charts-blue-1-300: #529ccb;
  --color-charts-blue-1-400: #3184c2;
  --color-charts-blue-1-500: #0273bb;
  --color-charts-blue-1-600: #0166ab;
  --color-charts-blue-1-700: #015b9d;
  --color-charts-blue-1-800: #015292;
  --color-charts-blue-1-900: #014a87;
  --color-charts-blue-1-1000: #01437d;
  --color-charts-blue-1-1100: #003c75;
  --color-charts-blue-1-1200: #00366d;
  --color-charts-blue-2-300: #688ae8;
  --color-charts-blue-2-400: #5978e3;
  --color-charts-blue-2-500: #4066df;
  --color-charts-blue-2-600: #3759ce;
  --color-charts-blue-2-700: #314fbf;
  --color-charts-blue-2-800: #2c46b1;
  --color-charts-blue-2-900: #273ea5;
  --color-charts-blue-2-1000: #23379b;
  --color-charts-blue-2-1100: #1f3191;
  --color-charts-blue-2-1200: #1b2b88;
  --color-charts-purple-300: #a783e1;
  --color-charts-purple-400: #9469d6;
  --color-charts-purple-500: #8456ce;
  --color-charts-purple-600: #7749bf;
  --color-charts-purple-700: #6b40b2;
  --color-charts-purple-800: #6237a7;
  --color-charts-purple-900: #59309d;
  --color-charts-purple-1000: #512994;
  --color-charts-purple-1100: #4a238b;
  --color-charts-purple-1200: #431d84;
  --color-charts-pink-300: #da7596;
  --color-charts-pink-400: #ce567c;
  --color-charts-pink-500: #c33d69;
  --color-charts-pink-600: #b1325c;
  --color-charts-pink-700: #a32952;
  --color-charts-pink-800: #962249;
  --color-charts-pink-900: #8b1b42;
  --color-charts-pink-1000: #81143b;
  --color-charts-pink-1100: #780d35;
  --color-charts-pink-1200: #6f062f;
  --color-charts-status-critical: #7d2105;
  --color-charts-status-high: #ba2e0f;
  --color-charts-status-medium: #cc5f21;
  --color-charts-status-low: #b2911c;
  --color-charts-status-positive: #67a353;
  --color-charts-status-info: #3184c2;
  --color-charts-status-neutral: #7d8998;
  --color-charts-threshold-negative: #d91515;
  --color-charts-threshold-positive: #037f0c;
  --color-charts-threshold-info: #0972d3;
  --color-charts-threshold-neutral: #5f6b7a;
  --color-charts-line-grid: #d1d5db;
  --color-charts-line-tick: #d1d5db;
  --color-charts-line-axis: #d1d5db;
  --color-charts-palette-categorical-1: #688ae8;
  --color-charts-palette-categorical-2: #c33d69;
  --color-charts-palette-categorical-3: #2ea597;
  --color-charts-palette-categorical-4: #8456ce;
  --color-charts-palette-categorical-5: #e07941;
  --color-charts-palette-categorical-6: #3759ce;
  --color-charts-palette-categorical-7: #962249;
  --color-charts-palette-categorical-8: #096f64;
  --color-charts-palette-categorical-9: #6237a7;
  --color-charts-palette-categorical-10: #a84401;
  --color-charts-palette-categorical-11: #273ea5;
  --color-charts-palette-categorical-12: #780d35;
  --color-charts-palette-categorical-13: #03524a;
  --color-charts-palette-categorical-14: #4a238b;
  --color-charts-palette-categorical-15: #7e3103;
  --color-charts-palette-categorical-16: #1b2b88;
  --color-charts-palette-categorical-17: #ce567c;
  --color-charts-palette-categorical-18: #003e38;
  --color-charts-palette-categorical-19: #9469d6;
  --color-charts-palette-categorical-20: #602400;
  --color-charts-palette-categorical-21: #4066df;
  --color-charts-palette-categorical-22: #a32952;
  --color-charts-palette-categorical-23: #0d7d70;
  --color-charts-palette-categorical-24: #6b40b2;
  --color-charts-palette-categorical-25: #bc4d01;
  --color-charts-palette-categorical-26: #2c46b1;
  --color-charts-palette-categorical-27: #81143b;
  --color-charts-palette-categorical-28: #045b52;
  --color-charts-palette-categorical-29: #512994;
  --color-charts-palette-categorical-30: #8a3603;
  --color-charts-palette-categorical-31: #1f3191;
  --color-charts-palette-categorical-32: #da7596;
  --color-charts-palette-categorical-33: #01443e;
  --color-charts-palette-categorical-34: #a783e1;
  --color-charts-palette-categorical-35: #692801;
  --color-charts-palette-categorical-36: #5978e3;
  --color-charts-palette-categorical-37: #b1325c;
  --color-charts-palette-categorical-38: #1c8e81;
  --color-charts-palette-categorical-39: #7749bf;
  --color-charts-palette-categorical-40: #cc5f21;
  --color-charts-palette-categorical-41: #314fbf;
  --color-charts-palette-categorical-42: #8b1b42;
  --color-charts-palette-categorical-43: #06645a;
  --color-charts-palette-categorical-44: #59309d;
  --color-charts-palette-categorical-45: #983c02;
  --color-charts-palette-categorical-46: #23379b;
  --color-charts-palette-categorical-47: #6f062f;
  --color-charts-palette-categorical-48: #014b44;
  --color-charts-palette-categorical-49: #431d84;
  --color-charts-palette-categorical-50: #732c02;
  --color-background-button-normal-active: #d3e7f9;
  --color-background-button-normal-default: #ffffff;
  --color-background-button-normal-disabled: #ffffff;
  --color-background-button-normal-hover: #f2f8fd;
  --color-background-button-primary-active: #eb5f07;
  --color-background-button-primary-default: #ff9900;
  --color-background-button-primary-disabled: #e9ebed;
  --color-background-button-primary-hover: #ec7211;
  --color-background-cell-shaded: #f8f8f8;
  --color-background-container-content: #ffffff;
  --color-background-container-header: #ffffff;
  --color-background-control-checked: #0972d3;
  --color-background-control-default: #ffffff;
  --color-background-control-disabled: #d1d5db;
  --color-background-dropdown-item-default: #ffffff;
  --color-background-dropdown-item-filter-match: #f2f8fd;
  --color-background-dropdown-item-hover: #f4f4f4;
  --color-background-home-header: #000716;
  --color-background-input-default: #ffffff;
  --color-background-input-disabled: #e9ebed;
  --color-background-item-selected: #f2f8fd;
  --color-background-layout-main: #ffffff;
  --color-background-layout-toggle-active: #232f3e;
  --color-background-layout-toggle-default: #232f3e;
  --color-background-layout-toggle-hover: #414d5c;
  --color-background-layout-toggle-selected-active: #0972d3;
  --color-background-layout-toggle-selected-default: #0972d3;
  --color-background-layout-toggle-selected-hover: #065299;
  --color-background-notification-blue: #0972d3;
  --color-background-notification-green: #037f0c;
  --color-background-notification-red: #d91515;
  --color-background-notification-yellow: #ffe457;
  --color-background-popover: #ffffff;
  --color-background-segment-active: #0972d3;
  --color-background-segment-default: #ffffff;
  --color-background-segment-disabled: #ffffff;
  --color-background-segment-hover: #ffffff;
  --color-background-status-error: #fff7f7;
  --color-background-status-info: #f2f8fd;
  --color-background-status-success: #f2fcf3;
  --color-background-status-warning: #fffce9;
  --color-background-toggle-checked-disabled: #b5d6f4;
  --color-border-button-normal-active: #033160;
  --color-border-button-normal-default: #0972d3;
  --color-border-button-normal-disabled: #9ba7b6;
  --color-border-button-normal-hover: #033160;
  --color-border-button-primary-disabled: #e9ebed;
  --color-border-container-top: transparent;
  --color-border-control-default: #7d8998;
  --color-border-divider-default: #e9ebed;
  --color-border-dropdown-item-hover: #7d8998;
  --color-border-input-default: #7d8998;
  --color-border-item-focused: #0972d3;
  --color-border-item-selected: #0972d3;
  --color-border-segment-active: #414d5c;
  --color-border-segment-default: #414d5c;
  --color-border-segment-disabled: #414d5c;
  --color-border-segment-hover: #414d5c;
  --color-border-status-error: #d91515;
  --color-border-status-info: #0972d3;
  --color-border-status-success: #037f0c;
  --color-border-status-warning: #8d6605;
  --color-foreground-control-default: #ffffff;
  --color-foreground-control-disabled: #ffffff;
  --color-text-accent: #0972d3;
  --color-text-body-default: #000716;
  --color-text-body-secondary: #414d5c;
  --color-text-breadcrumb-current: #5f6b7a;
  --color-text-breadcrumb-icon: #7d8998;
  --color-text-button-normal-active: #033160;
  --color-text-button-normal-default: #0972d3;
  --color-text-button-normal-hover: #033160;
  --color-text-button-primary-active: #000716;
  --color-text-button-primary-default: #000716;
  --color-text-button-primary-hover: #000716;
  --color-text-counter: #5f6b7a;
  --color-text-dropdown-item-filter-match: #0972d3;
  --color-text-dropdown-item-highlighted: #000716;
  --color-text-empty: #5f6b7a;
  --color-text-form-default: #000716;
  --color-text-form-secondary: #5f6b7a;
  --color-text-group-label: #414d5c;
  --color-text-heading-default: #000716;
  --color-text-heading-secondary: #414d5c;
  --color-text-home-header-default: #ffffff;
  --color-text-home-header-secondary: #d1d5db;
  --color-text-input-disabled: #9ba7b6;
  --color-text-input-placeholder: #5f6b7a;
  --color-text-interactive-active: #000716;
  --color-text-interactive-default: #414d5c;
  --color-text-interactive-disabled: #9ba7b6;
  --color-text-interactive-hover: #000716;
  --color-text-interactive-inverted-default: #d1d5db;
  --color-text-interactive-inverted-hover: #fbfbfb;
  --color-text-label: #000716;
  --color-text-layout-toggle: #ffffff;
  --color-text-layout-toggle-active: #ffffff;
  --color-text-layout-toggle-hover: #0972d3;
  --color-text-layout-toggle-selected: #ffffff;
  --color-text-link-default: #0972d3;
  --color-text-link-hover: #033160;
  --color-text-notification-default: #fbfbfb;
  --color-text-segment-active: #ffffff;
  --color-text-segment-default: #414d5c;
  --color-text-segment-hover: #0972d3;
  --color-text-status-error: #d91515;
  --color-text-status-inactive: #5f6b7a;
  --color-text-status-info: #0972d3;
  --color-text-status-success: #037f0c;
  --color-text-status-warning: #8d6605;
  --color-text-top-navigation-title: #000716;
  --color-board-placeholder-active: #e9ebed;
  --color-board-placeholder-hover: #d3e7f9;
  --color-drag-placeholder-active: #e9ebed;
  --color-drag-placeholder-hover: #d3e7f9;
}
