:root {
  --border-radius-alert: 12px;
  --border-radius-badge: 4px;
  --border-radius-button: 20px;
  --border-radius-calendar-day-focus-ring: 3px;
  --border-radius-container: 16px;
  --border-radius-control-circular-focus-ring: 4px;
  --border-radius-control-default-focus-ring: 4px;
  --border-radius-dropdown: 8px;
  --border-radius-flashbar: 12px;
  --border-radius-item: 8px;
  --border-radius-input: 8px;
  --border-radius-tabs-focus-ring: 20px;
  --border-radius-tiles: 8px;
  --border-radius-token: 8px;
  --border-radius-tutorial-panel-item: 8px;
}
