:root {
  --space-container-horizontal: 20px;
  --space-field-horizontal: 12px;
  --space-scaled-xxxs: 2px;
  --space-scaled-xxs: 4px;
  --space-scaled-xs: 8px;
  --space-scaled-s: 12px;
  --space-scaled-m: 16px;
  --space-scaled-l: 20px;
  --space-scaled-xl: 24px;
  --space-scaled-xxl: 32px;
  --space-scaled-xxxl: 40px;
  --space-static-xxxs: 2px;
  --space-static-xxs: 4px;
  --space-static-xs: 8px;
  --space-static-s: 12px;
  --space-static-m: 16px;
  --space-static-l: 20px;
  --space-static-xl: 24px;
  --space-static-xxl: 32px;
  --space-static-xxxl: 40px;  
}
