:root {
  --font-family-base: 'Amazon Ember', 'Helvetica Neue', Roboto, Arial, sans-serif;
  --font-family-monospace: Monaco, Menlo, Consolas, 'Courier Prime', Courier, 'Courier New', monospace;
  --font-size-body-m: 14px;
  --font-size-body-s: 12px;
  --font-size-display-l: 42px;
  --font-size-heading-xl: 24px;
  --font-size-heading-l: 20px;
  --font-size-heading-m: 18px;
  --font-size-heading-s: 16px;
  --font-size-heading-xs: 14px;
  --font-weight-heading-xl: 700;
  --font-weight-heading-l: 700;
  --font-weight-heading-m: 700;
  --font-weight-heading-s: 700;
  --font-weight-heading-xs: 700;
  --line-height-body-m: 20px;
  --line-height-body-s: 16px;
  --line-height-display-l: 48px;
  --line-height-heading-xl: 30px;
  --line-height-heading-l: 24px;
  --line-height-heading-m: 22px;
  --line-height-heading-s: 20px;
  --line-height-heading-xs: 18px;
}
